@import '../configuration';

.btn-sm {
  padding: 0;
}
.btn {
  color: $button-color;
  background-color: $button-background-color;
  border: $button-border-style $button-color;
  border-radius: 5px;
}
input[type=checkbox] + label i.fa {
  border: $button-border-style $filter-button-border-color !important;
  color: $filter-button-color !important;
}

.btn:hover {
  color: $button-hover-color;
  background-color: $button-background-hover-color;
  border: $button-border-style $button-hover-color;
}

input[type=checkbox]:checked + label i.fa,
input[type=checkbox]:checked + label i.fa:hover  {
 color: $filter-button-selected-hover-color !important;
 border: $button-border-style $filter-button-selected-hover-color !important;
}

.deselect {
  padding: 2px $base-padding/4;
  border: $button-border-style $button-warning-color;
  color: $button-warning-color;
}
.deselect:hover {
  border: $button-border-style $button-warning-hover-color;
  color: $button-warning-hover-color;
}

.badge, .deselect-all, .deselect-all:hover, .deselect-all .tip {
  color: $badge-color !important;
  background-color: $badge-background-color;
}
.badge.hidden-md {
  color: $body-font-color !important;
  border: none !important;
}
