@import '../configuration';
@import 'base-classes';

#sessions {

  padding: 0 $base-padding $base-padding*2.5 $base-padding;

  .heading {
    @extend .column-heading;
  }

  > ul.session-items {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 75%;
    li.session-item {
      padding: $base-padding/4*3 $base-padding/4*3 $base-padding*2 $base-padding/4*3;
      background-color: $session-background-color;
      margin-bottom:$base-padding;
      border-left: $session-left-border-style $session-left-border-color;
      font-size: $body-font-size;
      position: relative;
      transition:all 0.5s ease;
      -moz-transition:all 0.5s ease;
      -webkit-transition:all 0.5s ease;
      -o-transition:all 0.5s ease;
      .duration {
        margin: $base-padding/2 0;
        font-size: $body-font-size;
        font-family: $body-font;
        i.fa {
          font-size: $body-font-size;
          margin-right: 4px;
        }
      }
      .tags {
        margin: $base-padding/2 0;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        .tag {
          font-size: $body-font-size;
          padding: 0 $base-padding/4 0 0;
        }
      }
      label.btn {
        font-size: $body-font-size;
        font-family: $header-font;
      }
      h4 {
        span {
          vertical-align: bottom;
        }
      }
      label.btn-session-select{
        float:right;
      }
      label.btn-session-select {;
        flex-flow: row nowrap;
        opacity:.8;
        span {
          font-family: $body-font;
          font-size: $body-font-size;
        }
        i.fa {
          margin: 2px 4px 0 0;
        }
      }
      label.btn-session-select:hover {
        opacity: 1.0;
        box-shadow: 0;
      }

      label.btn-session-preview,
      label.btn-session-collaps {
        font-family: $body-font;
        font-size: $font-size-small;
      }
      label.btn-session-preview {
        bottom: 3px;
        float: right;
      }
      label.deselect {
        display: none;
      }
      .tabs {
        padding-top: $base-padding;
        .tab.show {
          border: $border-style transparent;
          border-bottom: none;
          display: inline-block !important;
          margin: 0 $base-padding/4 0 0;
          padding: 7 12;
          border-radius: 6px 6px 0 0;
          text-shadow: none;
        }
        .tab.show:hover,
        .tab.active {
          background-color: $session-background-color;
          cursor: pointer;
          border: $border-style $border-color;
          border-bottom: none;
        }
        .tab.active:hover {
          border-bottom: none;
        }
      }
      .section.show {
        padding: $base-padding;
        margin: 0;
        // border: $border-style $border-color;
        border-top: $border-style;
        background-color:white;
      }
      .block {
        padding-bottom: $base-padding;
        p,ul,ol{
          margin:1em 0em 0em 0em !important;
        }
      .attachments {
        margin-bottom: 0;
      }
      .help {
        margin-top: 0 !important;
      }
      .author,
      .contributors {
        h5 {
          display: inline-block;
          margin-bottom: 0;
          padding-right: $base-padding/4;
        }
      }
      }
    }
    li.session-item.less {
      .collapse {
        display: block;
      }
    }
    li.session-item.less:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: " ";
      pointer-events: none;
    }
  }
}

/*Sessions Selected Items*/
li.session-item.selected {
  cursor: not-allowed;
  margin-bottom: $base-padding;
  > h4 > label.btn-session-select, > h4, > .tags {
	  opacity:0.4;
	  pointer-events:none;
  }
  p, label.btn-session-preview, div, ul, .btn {
    display:none;
  }
  .deselect {
    display: block !important;
    position: absolute;
    right: $base-padding/4*3;
    top: $base-padding;
    cursor: pointer;
  }
}
