/* Web Fonts from fontspring.com
*
* All OpenType features and all extended glyphs have been removed.
* Fully installable fonts can be purchased at http://www.fontspring.com
*
* The fonts included in this stylesheet are subject to the End User License you purchased
* from Fontspring. The fonts are protected under domestic and international trademark and
* copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
* distributing this font software.
*
* (c) 2010-2013 Fontspring
*
* The fonts included are copyrighted by the vendor listed below.
*
* Vendor:      exljbris Font Foundry
* License url: http://www.fontspring.com/fflicense/exljbris
*
*
*/
@font-face {
 font-family: 'Museo Sans';
 src: url('../../public/assets/fonts/MuseoSans_500-webfont.eot');
 src: url('../../public/assets/fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'), url('../../public/assets/fonts/MuseoSans_500-webfont.woff') format('woff'), url('../../public/assets/fonts/MuseoSans_500-webfont.ttf') format('truetype'), url('../../public/assets/fonts/MuseoSans_500-webfont.svg#museo_sans_500regular') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Museo Slab';
 src: url('../../public/assets/fonts/Museo_Slab_500_2-webfont.eot');
 src: url('../../public/assets/fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'), url('../../public/assets/fonts/Museo_Slab_500_2-webfont.woff') format('woff'), url('../../public/assets/fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'), url('../../public/assets/fonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Glyphicons Halflings';
 src: url('../../public/assets/fonts/glyphicons-halflings-regular.eot');
 src: url('../../public/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../public/assets/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../public/assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../public/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../public/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
